<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.temp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Temp">


        <activity android:name=".Activities.OrderStatus"/>
        <activity android:name=".Activities.RazorpayPayment" />
        <activity android:name=".Activities.PlaceOrder" />
        <activity android:name=".Activities.Dishes" />
        <activity android:name=".Activities.Hotels" />
        <activity android:name=".Activities.Vendors" />
        <activity android:name=".Activities.Services" />
        <activity android:name=".Foods" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Activities.ChooseOption"
            android:label="@string/title_activity_choose_option"
            />
        <activity android:name=".Activities.VerificationActivity"
                    />
        <activity android:name=".Activities.PhoneAuth"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>